html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border: none;
}

.game-container {
  min-width: 450px;
  min-height: 500px;
  width: 50vw;
  height: calc(50vw + 50px);
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.action-bar {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  margin-top: 10px;
  /* margin-right: -16px; */
  /* margin-left: -16px; */
}

.action-bar .action-button {
  margin-left: 8px;
  margin-right: 8px;
  /* margin-right: 25px; */
}

button {
  all: unset;
}

button:focus {
  outline: 0;
}

.brutalButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48px;
}

.brutalButton.selected {
  transform: translate(-2px, -2px);
}

/* .brutalButton:hover {
  transform: translate(-2px, -2px);
} */

.brutalButton__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(-2px, -2px);
  /* border-radius: 2px; */
  z-index: -1;
  pointer-events: none;
}

/* .brutalButton:hover .brutalButton__shadow {
  transform: translate(3px, 3px);
} */

/* .brutalButton.selected .brutalButton__shadow {
  transform: translate(-0.5px, -0.5px);
} */

.brutalButton__container {
  position: relative;
  z-index: 1;
}

.brutalButton__container__button {
  position: relative;
  padding: 10px !important;
  padding-bottom: 8px !important;
  border: 2px solid #000 !important;
  border-radius: 2px !important;
  z-index: 1;
}

.brutalButton__container__button__text {
  color: #000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  position: relative;
  z-index: 1;
}

/* .brutalButton__container:hover:enabled {
  transform: translateX(3px);
  transform: translateY(3px);
} */

@media (max-width: 600px) {
  .game-container {
    min-width: 320px;
    min-height: 320px;
    width: calc(100vw - 10px);
    height: calc(calc(100vw - 10px) + 50px);
    padding-left: 5px;
    padding-right: 5px;
  }
}