html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-areas:
    "blank title       top-blank"
    "blank health-bar  top-blank"
    "blank game-window right-info"
    "blank action-bar  bottom-blank";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
}

.title {
  grid-area: title;
  display: flex;
  margin-top: 16px;
  margin-bottom: -10px;
}

.title h1 {
  -webkit-text-stroke: 2px #000;

  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Anton', 'Bebas Neue', sans-serif !important;
  font-size: 5em;
  letter-spacing: 2px;
}

.title.active h1 {
  text-shadow: 0 0 0 rgba(0, 0, 0, 1), -0.3rem -0.3rem 0 rgba(0, 0, 0, 1);
  transform: translate(0.3rem, 0.3rem);
}

iframe {
  border: none;
}

.right-info {
  grid-area: right-info;
}

.game-window {
  grid-area: game-window;
  min-width: 450px;
  min-height: 500px;
  width: 65vh;
  height: 65vh;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}

.action-bar {
  grid-area: action-bar;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding-left: 2px;
}

.action-bar .action-button {
  margin-right: 16px;
}

button {
  all: unset;
}

button:focus {
  outline: 0;
}

.brutalButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brutalButton.selected,
.brutalButton.disabled {
  transform: translate(-2px, -2px);
}

.brutalButton__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  transform: translate(-2px, -2px);
  z-index: -1;
  pointer-events: none;
}

.brutalButton__container {
  position: relative;
  z-index: 1;
}

.brutalButton__container__button {
  position: relative;
  padding: 10px !important;
  padding-bottom: 8px !important;
  border: 2px solid #000 !important;
  z-index: 1;
}

.brutalButton__container__button__text {
  color: #000 !important;
  font-family: 'Bebas Neue', sans-serif !important;
  position: relative;
  z-index: 1;
}

/* .brutalButton__container:hover:enabled {
  transform: translateX(3px);
  transform: translateY(3px);
} */

.health-bar {
  grid-area: health-bar;
  width: 100%;
  height: 32px;
}

.health-bar__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translate(-1.5px, -1.5px);
  z-index: -1;
  pointer-events: none;
}

.health-bar progress {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid #000;

  position: relative;
  z-index: 1;
}

.health-bar progress::-webkit-progress-bar {
  background: #ff5050;
  box-shadow:
    inset -2px -2px 0px #00000048
}

.health-bar progress::-moz-progress-bar {
  background: #ff5050;
  box-shadow:
    inset -2px -2px 0px #00000048
}

.health-bar progress::-webkit-progress-value {
  background: #fff;
  border-right: 2px solid #000;
}

.health-bar.end progress::-webkit-progress-value {
  border: none;
}

.box {
  border: 2px solid #000;
  padding: 8px;
  /* width: fit-content;
  height: fit-content; */
}

.box span {
  color: #000;
  font-family: 'Bebas Neue', sans-serif !important;
}

/* .box.indicator {
  width: fit-content;
  padding: 0;
  padding-right: 8.5px;
  padding-left: 8.5px;
  margin-top: 8px;
}

.box.indicator span {
  color: #000;
} */

.box.score {
  width: auto;
  height: auto;
}

.box.score div {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
}

.box.score div span:last-child {
  margin-left: auto;
}

@media (max-width: 600px) {
  .title {
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .title h1 {
    font-size: 12vw;
  }

  .title.active h1 {
    text-shadow: 0 0 0 rgba(0, 0, 0, 1), -0.2rem -0.2rem 0 rgba(0, 0, 0, 1);
    transform: translate(0.2rem, 0.2rem);
  }

  .game-window {
    min-width: 320px;
    min-height: 320px;
    width: calc(100vw - 10px);
    height: calc(calc(100vw - 10px) + 50px);
  }

  .health-bar {
    width: 100%;
  }

  .grid {
    grid-template-areas:
      ". right-info title ."
      ". health-bar health-bar ."
      ". game-window game-window ."
      ". action-bar action-bar .";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 5px 25vw auto 5px;
  }
}